@keyframes glow {
	0% {
		color: rgba(50, 250, 50, 0.4);
	}

	25% {
		color: rgba(50, 250, 50, 0.5);
	}

	50% {
		color: rgba(50, 250, 50, 0.4);
	}

	100% {
		color: rgba(50, 250, 50, 0.4);
	}
}

@-webkit-keyframes glow {
	0% {
		color: rgba(50, 250, 50, 0.4);
	}

	25% {
		color: rgba(50, 250, 50, 0.5);
	}

	50% {
		color: rgba(50, 250, 50, 0.4);
	}

	100% {
		color: rgba(50, 250, 50, 0.4);
	}
}

.bgterminal {
	/*position: fixed;*/
	/*left: 0;*/
	top: 12vh;
	bottom: 0;
	right: 0;
	color: rgba(50, 250, 50, 0.1);
	/*white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;*/
	font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	z-index: 0;
	text-align: left;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
	-webkit-transition-delay: 2s;
	transition-delay: 0;
}

.bgterminal-glow {
	animation: glow 5s;
	-webkit-animation: glow 5s;
	animation-direction: normal;
	-webkit-animation-direction: normal;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

/*Hide the animation*/
.bgterminal-hide {
	opacity: 0;
	transition: opacity 5s;
}

/*Show the animation */
.bgterminal-show {
	opacity: 1;
	transition: opacity 5s;
  }

.bgterminal .cursor {
	background: rgba(50, 250, 50, 0.3);
}