/*
   ____        _                    _ ___   __
  |  _ \      | |                  | (_) \ / /
  | |_) |_   _| |     ___ _   _  __| |_ \ V / 
  |  _ <| | | | |    / _ \ | | |/ _` | | > <  
  | |_) | |_| | |___|  __/ |_| | (_| | |/ . \ 
  |____/ \__, |______\___|\__,_|\__,_|_/_/ \_\
          __/ |                               
         |___/                                
 */

* {
   box-sizing: border-box;
}


html {
   /*scroll smooth into the all page, also could be applied to a specific element inside the document */
   scroll-behavior: smooth;
}

body {
   background-color: #122b69 !important;
   margin: -0.5px !important;
}

body::-webkit-scrollbar {
   overflow: hidden;
   width: 0 !important
}

/* Style the navbar */
#navbar {
   overflow: auto;
   padding: 0.5rem;
   border-bottom-style: dashed;
   border-bottom-color: rgb(255 69 0);
   transition: ease-in 0.1s;
   position: fixed;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
   position: fixed;
   top: 0;
   transition: ease-in-out 0.5s;
}

#navbar #logo {
   max-width: 100%;
   height: auto;
}

#navbar #name {
   float: left;
   margin-inline-end: 0.5rem;
   color: rgb(255 69 0);
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
}

/*Constant glowing and growing animation over logo */
@keyframes logoglow {
   0% {
      color: rgba(255, 69, 0, 0.75);
      font-size: 20px;
   }

   25% {
      color: rgba(255, 69, 0, 1);
      font-size: 21px;
   }

   50% {
      color: rgba(255, 69, 0, 0.75);
      font-size: 21px;
   }

   100% {
      color: rgba(255, 69, 0, 0.75);
      font-size: 20px;
   }
}

@-webkit-keyframes logoglow {
   0% {
      color: rgba(255, 69, 0, 0.75);
   }

   25% {
      color: rgba(255, 69, 0, 1);
   }

   50% {
      color: rgba(255, 69, 0, 0.75);
   }

   100% {
      color: rgba(255, 69, 0, 0.75);
   }
}

.logo-glow {
   animation: logoglow 2.5s;
   -webkit-animation: logoglow 2.5s;
   animation-direction: normal;
   -webkit-animation-direction: normal;
   animation-iteration-count: infinite;
   -webkit-animation-iteration-count: infinite;
   transition: all 2.5s ease
}


#name {
   color: ghostwhite;
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: normal;
   display: inline-block;
}


/* Navbar links */
#navbar li a {
   float: right !important;
   margin-inline-end: 0.5rem;
   color: ghostwhite;
   text-align: center;
   padding: 10px;
   text-decoration: none;
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;

}

#navbar a:hover {
   color: rgb(255 69 0);
   transition: 0.25s ease-in;
}

#picture {
   border-radius: 50%;
   width: 30%;
   max-width: 100%;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#title1,
#subtitle12,
#title2,
#title3,
#title4,
#title5 {
   color: rgb(255 69 0);
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: bolder;
   text-align: center;
}

#subtitle1,
#subtitle2,
#subtitle3,
#subtitle4,
#subtitle5 {
   color: ghostwhite;
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: lighter;
   text-align: center;
}

#cvdownload,
#projects1,
#skills1,
#about1,
#contacts1,
#contacts2 {
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
   color: ghostwhite;
   font-size: 15px;
   background: transparent;
   font-weight: 400;
   padding: 10px;
   border: rgb(255 69 0) 2px solid;
   margin-left: auto;
   margin-right: auto;
   display: block;

}

#cvdownload:hover,
#projects1:hover,
#skills1:hover,
#about1:hover,
#contacts1:hover,
#contacts2:hover {
   background: rgb(255 69 0);
   transition: 0.5s ease-in-out;
   cursor: pointer;
   font-size: 18px;
}

#sections {
   margin-top: 15dvh;
}

section {
   margin: 5dvh 10dvw;
   border-bottom-style: dashed;
   /*border-style: dashed;*/
   border-color: rgb(255 69 0);
   padding: 5vh 10vh;
   background-color: rgb(18, 43, 105, 0.5);
   /*backdrop-filter: blur(1px);*/
}

/*CANVAS BACKGROUND SECTION*/
#canvas {
   position: absolute;
   left: 0;
   top: 0;
   z-index: -1;
   width: 100%;
   object-fit: contain;
}

/******************************/
/*CSS Boton scroll Go to up*/
#myBtn {
   display: none;
   position: fixed;
   width: 40px;
   height: 40px;
   bottom: 15vh;
   right: 30px;
   font-size: 12px;
   font-weight: 400;
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
   border-color: rgb(255 69 0);
   outline: none;
   background-color: transparent;
   transition: all 0.5s ease;
   color: #fff;
   cursor: pointer;
   border-radius: 50%;
}

#myBtn:hover {
   background-color: rgb(255 69 0);
   color: #fff;
}

/*Footer styles*/
/*********************************/
footer {
   margin: 5dvh 10dvw;
   /*border-style: dashed;*/
   /*border-bottom-style: dashed;*/
   border-color: rgb(255 69 0);
   padding: 5vh 10vh;
   font-size: 2.5vh;
   font-weight: 400;
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
   color: #fff;
}

footer .footer-row * {
   text-align: center;
   margin-block-start: 2vh;
   margin-block-end: 2vh;
}

#social-icons a {
   margin-inline-start: 2vh;
}

/**********************************/

/* The Close Button */
.close {
   color: ghostwhite;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: rgb(255 69 0);
   text-decoration: none;
   cursor: pointer;
}

/* Modal Header */
.modal-header {
   padding: 10px 16px;
   background-color: #081b4b !important;
   color: rgb(255 69 0);
   text-align: center;
}

/* Modal Body */
.modal-body {
   padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
   padding: 10px 16px;
   background-color: #122b69 !important;
   color: rgb(255 69 0);
}

/* Modal Content */
.modal-content {
   color: ghostwhite !important;
   font-family: 'Fira Code', Tahoma, Geneva, Verdana, sans-serif;
   ;
   position: relative;
   background-color: #122b69 !important;
   margin: auto;
   padding: 0;
   border-color: rgb(255 69 0) !important;
   border-width: 3px;
   border-style: dashed !important;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/*Contact Modal*/
/**********************************/
/*Form Modal*/

/* Style inputs */
input[type=text],
input[type=email],
textarea {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   margin-top: 5px;
   margin-bottom: 5px;
   resize: vertical;
}

input[type=submit] {
   background-color: #04AA6D;
   color: white;
   padding: 12px 20px;
   border: none;
   cursor: pointer;
}

input[type=submit]:hover {
   background-color: #45a049;
}


/*Form Modal*/
/**********************************/

/**
*! Modal Animation entry
*/
/*Using modal fade class on 1st modal to see animation*/
.animatetop {
   animation-name: animate;
   animation-duration: 0.4s;
}

/**
 *! Add Animation 
 */
@keyframes animate {
   from {
      top: -300px;
      opacity: 0
   }

   to {
      top: 0;
      opacity: 1
   }
}