{%extends 'base.html'%}
{%block content%}
<h2>My Profile</h2>
<style>
    /* Add your CSS styles here */
    .errors {
      border: 1px solid red;
      padding: 10px;
      margin-bottom: 15px;
    }
    .errors ul {
      list-style: none;
      padding: 0;
    }
  </style>
<h3>Welcome again {{user.username}}</h3>
<h3>Your email is {{user.email}}</h3>
{%  if user.is_authenticated %}
            <p>You are logged in as {{ request.user }}. Click here to <a href="{% url 'logout' %}">log out</a></p>
        {% endif %}
<p>{{message}}</p>
{%if form.errors%}
<div class="errors">
    <p>Please, correct the following errors:</p>
    <ul>
        {%for field in form %}
            {%for error in field.errors%}
                <li>{{error}}</li>
            {%endfor%}
        {%endfor%}
    </ul>
</div>
{%endif%}
<form method="post">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit">Save Changes </button>
</form>
{%endblock%}