{% load static %}
<!DOCTYPE html>
<html lang="en">
<!--
    ____        _                    _ ___   __
   |  _ \      | |                  | (_) \ / /
   | |_) |_   _| |     ___ _   _  __| |_ \ V / 
   |  _ <| | | | |    / _ \ | | |/ _` | | > <  
   | |_) | |_| | |___|  __/ |_| | (_| | |/ . \ 
   |____/ \__, |______\___|\__,_|\__,_|_/_/ \_\
           __/ |                               
          |___/                                
  -->

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>LeudiX Portfolio</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <!--Devicons Library reference-->
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/devicons/1.8.0/css/devicons.min.css">
    <!--Fonts Google APIs-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap" rel="stylesheet">
    <!--AOS Library for cool scroll animations-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--Flag Icons Library-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
    <!--Latest compiled and minified CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static  'css/bgterminal.css' %}">
</head>

<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <a id="name" class="navbar-brand logo-glow">
                    {{leudix}}
                </a>
                <button class="navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end" id="collapNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" href="#home">#home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">#about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#skills">#skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#projects">#projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contacts">#contacts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class='col-md-1 col-sm-1'></div>
        <div id="containerRow" class='col-md-10 col-sm-10 col-10'>
            <script>
                const STATIC_URL = "{{ STATIC_URL }}"; //Base path reference to the static files used by bgTerminal
            </script>
        </div>
        <div class='col-md-1 col-sm-1'></div>
    </div>
    <div class="left-social position-absolute start-0 fixed-bottom">
        <ul class="social-icons">
            <li><a href="https://github.com/LeudiX" target="_blank"><i class="devicon-github-original"></i></a></li>
            <li><a href="https://www.linkedin.com/in/leudi-xavier-9895421b7/" target="_blank"><i
                        class="devicon-linkedin-plain"></i></a></li>
            <li><a href="https://www.instagram.com/leudi_xavier/" target="_blank"><i class="fab fa-instagram"></i></a>
            </li>
            <li><a href="https://www.gmail.com/leudi_xavier/" target="_blank"><i class="fab fa-google"></i></a>
            </li>
        </ul>
    </div>
    <div id="sections">
        <!--Section's fragment code reference to include here (Hero, About, Projects, Skills, Contacts)-->
        {% block content %}
        {%endblock content %}
        <!--Section's fragment code reference to include here (Hero, About, Projects, Skills, Contacts)-->
    </div>
    <footer class="foo">
        <div class="footer-row row justify-content-md-center">
            <h6 class="quotes py-3">
                <span id="quotes">HM</span>
            </h6>
            <div class="copyright">
                <h6>Handcrafted by LeudiX</h6>
                <h6>Made with 💓 from Cuba
                    <span class="fi fi-cu fis"></span>
                </h6>
            </div>
        </div>
    </footer>
    <!-- The Contact Modal -->
    <div class="modal fade" id="contactModal">
        <div class="modal-dialog modal-dialog-centered">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Hi!!!. Send me a message:</h5>
                    <button type="button" class="btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="column">
                            <form action="/action_page.php" autocomplete="off">
                                <label for="femail">Email</label>
                                <input type="email" id="femail" name="email" autocomplete="email"
                                    placeholder="Your email..">
                                <label for="fsubject">Subject</label>
                                <input type="text" id="fsubject" name="subject" placeholder="Hi!..">
                                <label for="message">Message</label>
                                <textarea id="message" name="message" placeholder="Write something.."
                                    style="height:50px"></textarea>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="contacts2" value="Send message">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button onclick="topFunction()" id="myBtn" title="Go to top">
        <i class="fa fa-angle-double-up"></i>
    </button>

    <!--Loading AOS Animations-->
    <!--Reference to AOS Library for cool scroll animations-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

<!--Placing the js files add the end so the pages load faster-->
<!-- Latest Compilated javascript library -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<!--JQuery reference from external repository-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!--Font Awesome reference from external site-->
<script src="https://kit.fontawesome.com/b62466ad95.js" crossorigin="anonymous"></script>
<!--Using Typed Library for cool animations over text content-->
<script src="https://unpkg.com/typed.js@2.0.132/dist/typed.umd.js"></script>
<!--Local Scripts-->
<script type="text/javascript" src="{% static 'js/jquery.bgterminal.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mybgterminal.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modals.js' %}"></script>
<script type="text/javascript" src="{% static 'js/typed.js' %}"></script>

</html>